@use "mixins";
@use "colors";
@use "fonts";

@mixin desktop {
  @media screen and (min-width: 1024px) {
      @content;
  }
}

.content {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    margin-top: 20px;
    display: grid;
    gap: 50px;

    @include desktop {
    grid-template-columns: 3fr 1.1fr;
    grid-template-rows: auto auto;
    gap: 60px 90px;
    margin: 40px 0 80px 0;
  }
}

.article__text {
  text-align: left;
  padding: 15px 20px;

  @include desktop {
    text-align: center;
    padding: 5px 15px;
  }
}

.article__category {
  
  margin: 0;
  text-transform: uppercase;
  color: colors.$complementary-darker;
  font-weight: 500;
  font-size: 12px;
  text-decoration: underline;
  font-family: fonts.$sans;

  &--secondary {
    font-size: 10px;

  }
}

.article__title {

  font-family: fonts.$serif;
  font-size: 22px;
  font-weight: 300;
  margin: 8px 0;

  @include desktop {
    text-align: center;
  }

  &--primary {
    @include desktop {
      
      font-size: 28px;
    }
  }

  &--secondary {
      font-size: 20px;
      margin: 4px 0;
    }
  }


.article__date {
  font-size: 12px;
  font-weight: 500;
  font-family: fonts.$sans;
  margin: 0;

  &--secondary {
    font-size: 10px;
  }
}


.article__paragraph {
  font-family: fonts.$sans;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 1.6;
  text-align: left;

  &--edit {
    color: colors.$complementary-darker;
    font-family: fonts.$serif;
    margin-top: 100px;
  }
}

.articles--vertical .article--secondary .article__picture--secondary {
  @include desktop {
    height: 200px;
  }
}


.link {
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  font-family: fonts.$serif;
  color: colors.$complementary-darker;

  &__href {
    text-decoration: none;
    color: colors.$primary;

    &--home {
      color: colors.$complementary-darker;
      text-decoration: underline;
      font-size: 14px;
    }
    }
  }

  .button__link {
    color: white;
    text-decoration: none;
  }


.article__link {
  text-align: left;
  margin-bottom: 20px;
}

.article__quote {
  margin: 25px;
  font-family: fonts.$serif;
  letter-spacing: 0.5px;
  line-height: 1.7;
  font-size: 16px;
  text-align: left;
  color: colors.$complementary-darker;

  &--home {
    color: colors.$primary
  }

  @include desktop {
    margin: 50px 90px;
    font-size: 18px;
  }
}

.comments__form {
  width: 100%;
  margin-top: 150px;
}

.comments__title {
  font-family: fonts.$serif;
  color: colors.$complementary-darker;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 18px;
}

.comments__text {
  resize: none;
  height: 120px;
}

.comments__field {
  display: block;
  width: 100%;
  margin-bottom: 18px;
  padding: 10px 12px;
  font-family: fonts.$sans;
  font-size: 14px;
  background-color: transparent;
  color: colors.$primary;
  border: 1px solid colors.$special;
  border-radius: 5px;
}

.comments__button {
  font-size: 15px;
  background-color: colors.$complementary-darker;
  color: white;
  font-weight: 500;
  padding: 12px 28px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;

  &:hover {
  background-color: colors.$complementary-darkest;
  }
}

.comments__list {
  margin-top: 70px;
}

.comment {
  margin: 40px 0 70px 0;
  position: relative;
  
  &:not(:last-child):after {
      position: absolute;
      content: "";
      height: 1px;
      background-color: colors.$special;
      width: 100%;
      margin-top: 20px;
  }
}

.comment__name {
  display: inline-block;
  margin-right: 40px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: fonts.$sans;
  font-size: 16px;
}

.comment__date {
  display: inline-block;
  color: colors.$special;
  font-size: 14px;
  font-family: fonts.$sans;
  font-weight: 400;
  margin: 0;
}

.comment__message {
  font-family: fonts.$sans;
  margin: 15px 0;

}
