<div class="complementary">
        <div class="articles__suggestion">
            <h2 class="title title--complementary">další příspěvky</h2>
            <div class="articles--vertical">
                <article class="article article--secondary">
                    <a href="/nesudmeadrzmepalce/"><img class="article__picture article__picture--secondary" src="/images/nesudmeadrzmepalce.jpg"></a>
                    <div class="article__text article__text--secondary">
                        <h3 class="article__category article__category--secondary">Zamyšlení</h3>
                        <h1 class="article__title article__title--secondary"><a href="/nesudmeadrzmepalce/" class="link__href">Nesuďme a držme palce</a></h1>

                    </div>       
                </article>  
    
                <article class="article article--secondary">
                    <a href="/nefnukameuzprilis/"><img class="article__picture article__picture--secondary" src="/images/nefnukameuzprilis.jpg"></a>
                    <div class="article__text article__text--secondary">
                        <h3 class="article__category article__category--secondary">Zamyšlení</h3>
                        <h1 class="article__title article__title--secondary"><a href="/nefnukameuzprilis/" class="link__href">Nefňukáme už příliš?</a></h1>
                    </div>
                 </article>
    
    
                 <article class="article article--secondary">
                    <a href="/vylucovani/"><img class="article__picture article__picture--secondary" src="/images/vylucovani.jpg"></a>
                    <div class="article__text article__text--secondary">
                        <h3 class="article__category article__category--secondary">Postřeh</h3>
                        <h1 class="article__title article__title--secondary"><a href="/vylucovani/" class="link__href">Vylučování. Vylučte mě, prosím</a></h1>
                    </div>
                </article>
    
                <article class="article article--secondary">
                    <a href="/nikdonicnevi/"><img class="article__picture article__picture--secondary" src="/images/nikdonicnevi.jpg"></a>
                    <div class="article__text article__text--secondary">
                        <h3 class="article__category article__category--secondary">Postřeh</h3>
                        <h1 class="article__title article__title--secondary"><a href="/nikdonicnevi/" class="link__href">Nikdo nic neví</a></h1>
                    </div>
                </article>
            </div>
        </div>
    </div>
