<footer class="footer">
            <div class="footer__wrapper">
                <div class="footer__info">
                    <img class="footer__logo" src="/images/logolight.svg" alt="logo drztepalce.cz">
                    <h2 class="footer__title">DRŽTEPALCE</h2>
                    <h3 class="footer__subtitle">útočiště pro rodiče dětí s poruchou autistického spektra</h3>
                </div>

            <div class="footer__info">
                    <p class="footer__text">Webové stránky pro rodiče, prarodiče, známé a kamarády dětí s autismem i všechny ostatní, co chtějí životu s autismem porozumět</p>
                </div>
                <div class="footer__info">
                    <p class="footer__text">Pocity, zážitky a zkušenosti z rodičovství dětí s PAS</p>
                </div>

               

                <div class="footer__info">
                    <p class="footer__text">Sledujte nás</p>
                    <a href="https://www.instagram.com/drztepalce/"><img class="footer__instagram" src="/images/instagram.svg" alt="logo instagramu"></a>
                    <p class="footer__text">Napište mi</p>
                    <p class="footer__text">drztepalce@email.cz</p>
                </div>
                

                    <!--<p class="footer__text">Pocity, zážitky a zkušenosti mámy dětí s autismem.</p> -->
                </div>
            </div>
</footer>